snippet article
@article{${1:article_name},
    author    = "$2",
    title     = "$3",
    journal   = "$4",
    year      = "$5",
}
endsnippet

snippet book
@book{${1:book_name},
    author    = "$2",
    title     = "$3",
    publisher = "$4",
    year      = "$5",
}
endsnippet
